<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BatteryLowThreshold"      value="20" />
    <add key="ContactQualityMin"        value="50" />
    <add key="ExcitementSpikeThreshold" value="0.30" />
    <add key="ChannelMinValue"          value="0" />
    <add key="ChannelMaxValue"          value="10000" />
    <add key="TimestampSkewMaxMs"       value="2000" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="StreamBinding"
                 transferMode="Streamed"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="65536"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 openTimeout="00:01:00"
                 closeTimeout="00:01:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="EegWcfSystem.Server.Services.EegService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/EegService" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="StreamBinding"
                  contract="EegWcfSystem.Common.Contracts.IEegService" />
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
