<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Putanja do foldera sa EEG CSV fajlovima -->
    <add key="EegRoot" value="EEG" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="StreamBinding"
                 transferMode="Buffered"
                 maxReceivedMessageSize="2147483647"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 openTimeout="00:01:00"
                 closeTimeout="00:01:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint name="EegEndpoint"
                address="net.tcp://localhost:9000/EegService"
                binding="netTcpBinding"
                bindingConfiguration="StreamBinding"
                contract="EegWcfSystem.Common.Contracts.IEegService" />
    </client>
  </system.serviceModel>
</configuration>
